
<body>
    <section id="name9">
                <div class="con">
                    <h3 class="con1">CONTACT</h3>
                    <h1 class="con2">CONTACT US</h1>
                
                </div>
                <div class="con3">
                    <i class="fa-solid fa-location-dot fa-samj"></i>
                    <h3 class="con7">Our Address</h3>
                    <p class="con8">A108 Adam Street, New York, NY 535022</p>
                </div>
                <div class="con4">
                    <input type="text" value=" Your name" placeholder="Your Name" class="con9">
                    <input type="text" value="Your Email" placeholder="Your Email" class="con10">
                    <input type="text" value="Subject" placeholder="Subject" class="con11"> <input type="text" value="Message" placeholder="Message" class="con12">
                    <input type="button" value="Send Message" class="con13">
                </div>
            </section>
    </body>